<div class="container">
  <h5 style="font-weight: bold">Routes during <%= @date_for_month.strftime("%B %Y") %></h5>
  <p></p>

  <table class="table table-bordered text-center">
  <thead>
    <tr>
      <th scope="col" style="width: 15%">Date</th>
      <th scope="col" style="width: 25%">Starting adress</th>
      <th scope="col" style="width: 25%">Destination address</th>
      <th scope="col" style="width: 15%">Distance traveled</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
  <% @routes.each do |route| %>
    <tr>
      <td><%= route.created_at.strftime("%d %B") %></td>
      <td><%= route.starting_adress %></td>
      <td><%= route.destination_adress %></td>
      <td><%= route.distance %> km</td>
      <td>
      <%= link_to "Edit route", edit_month_path(route_id: route.id), method: "get", class: "btn btn-info btn-sm" %>
      <form class="form-inline" action="/destroy" method="post" style="display: inline;">
        <input type="hidden" value="delete" name="_method">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token() %>" />
        <input type="hidden" name="route_id" value="<%= route.id %>">
        <input type="hidden" name="click_source" value="show_month_details">
        <input type="hidden" name="day" value="<%= @date_for_month %>">
        <button type="submit" class="btn btn-dark btn-sm">Remove route</button>
      </form>
      </td>
    </tr>
  <% end %>
  </tbody>
  </table>
</div>

<div class="container">
  <div class="row">
    <div class="col">
    <div class="text-right">
      <%= link_to "Go to the main site", root_path, method: "get", class: "btn btn-success" %>
      </div>
    </div>   
  </div>
</div>